@{
    ViewBag.Title = "TestCompleted";
}

<label class="alert-success">Congratulation!!!you have successfully completed your test.Your test result will be soon declared by your class teacher</label>
<br />
<br />
@Html.ActionLink("Back to Profile Page", "Index", "Student");
